@define-color light #eceff4;
@define-color dark #2e3440;

@define-color warning #bf616a;

@define-color workspaces #5e81ac;
@define-color workspacesfocused #88c0d0;
@define-color urgent #bf616a;

@define-color mode #bf616a;
@define-color media_player #88c0d0;
@define-color pulseaudio #81a1c1;
@define-color backlight #5e81ac;
@define-color idle_inhibitor #8fbcbb;
@define-color network #b48ead;
@define-color disk #a3be8c;
@define-color memory #ebcb8b;
@define-color cpu #d08770;
@define-color updates #5e81ac;
@define-color battery #8fbcbb;
@define-color date #2e3440;

* {
	border-radius: 5px;
	min-height: 0;
	padding: 0;
	margin: 0;
}

#waybar {
	background: transparent;
	font-family: monospace;
	font-size: 10pt;
}

tooltip {
	background: @dark;
}
tooltip label {
	color: @light;
}  

#workspaces button {
	padding: 0 4px;
	margin: 2px 2px;
	color: @dark;
	background: @workspaces;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    border-bottom: 3px solid @workspacesfocused;
}

#workspaces button.urgent {
	background: @urgent;
    border-bottom: 3px solid transparent;
}

#mode {
	padding: 0 4px;
	margin: 2px 2px;
	color: @dark;
	background: @mode;
}

#custom-media_player {
	padding: 0 4px;
	margin: 2px 2px;
	background: @media_player;
	color: @dark;
}

#pulseaudio {
	padding: 0 4px;
	margin: 2px 2px;
	background: @pulseaudio;
	color: @dark;
}

#backlight {
	padding: 0 4px;
	margin: 2px 2px;
	background: @backlight;
	color: @light;
}

#network {
	padding: 0 4px;
	margin: 2px 2px;
	background: @network;
	color: @dark;
}

#disk {
	padding: 0 4px;
	margin: 2px 2px;
	background: @disk;
	color: @dark;
}

#memory {
	padding: 0 4px;
	margin: 2px 2px;
	background: @memory;
	color: @dark;
}

#cpu {
	padding: 0 0 0 4px;
	margin: 2px 0 2px 2px;
	border-radius: 5px 0 0 5px;
	background: @cpu;
	color: @dark;
}

#custom-loadavg {
	padding: 0;
	margin: 2px 0;
	border-radius: 0;
	background: @cpu;
	color: @dark;
}

#temperature {
	padding: 0 4px 0 0;
	margin: 2px 2px 2px 0;
	border-radius: 0 5px 5px 0;
	background: @cpu;
	color: @dark;
}

#custom-updates {
	padding: 0 4px;
	margin: 2px 2px;
	background: @updates;
	color: @light;
}

#battery {
	padding: 0 4px;
	margin: 2px 2px;
	background: @battery;
	color: @dark;
}

#battery.warning {
	padding: 0 4px;
	margin: 2px 2px;
	color: @warning;
}

#idle_inhibitor {
	padding: 0 6px;
	margin: 2px 2px;
	background: @dark;
	color: @light;
}

#idle_inhibitor.activated {
	background: @light;
	color: @dark;
}

#tray {
	padding: 0 4px;
	margin: 2px 2px;
	background: @date;
}

#tray * {
	padding: 2px;
	margin: 0;
}

#clock {
	padding: 0 4px;
	margin: 2px 2px;
	background: @date;
	color: @light;
}
