@define-color light #eceff4;
@define-color dark #2e3440;

@define-color warning #d08770;
@define-color critical #bf616a;

@define-color workspaces #5e81ac;
@define-color workspacesfocused #88c0d0;
@define-color urgent #d08770;

@define-color mode #bf616a;
@define-color media_player #88c0d0;
@define-color pulseaudio #81a1c1;
@define-color backlight #5e81ac;
@define-color idle_inhibitor #8fbcbb;
@define-color network #b48ead;
@define-color disk #a3be8c;
@define-color memory #ebcb8b;
@define-color cpu #d08770;
@define-color updates #5e81ac;
@define-color battery #8fbcbb;
@define-color date #2e3440;

* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

#waybar {
	background: transparent;
	color: @light;
	font-family: monospace;
	font-size: 10pt;
}

#workspaces button {
	padding-left: 4px;
	padding-right: 4px;
	color: @dark;
	background: @workspaces;
}

#workspaces button.focused {
	background: @workspacesfocused;
}

#workspaces button.urgent {
	background: @urgent;
}

#mode {
	color: @dark;
	background: @mode;
}

#custom-media_player {
	background: @media_player;
	color: @dark;
}

#pulseaudio {
	background: @pulseaudio;
	color: @dark;
}

#backlight {
	background: @backlight;
	color: @light;
}

#idle_inhibitor {
	background: @idle_inhibitor;
	color: @light;
}

#network {
	background: @network;
	color: @dark;
}

#disk {
	background: @disk;
	color: @dark;
}

#memory {
	background: @memory;
	color: @dark;
}

#cpu {
	background: @cpu;
	color: @dark;
}

#custom-loadavg {
	background: @cpu;
	color: @dark;
}

#temperature {
	background: @cpu;
	color: @dark;
}

#custom-updates {
	background: @updates;
	color: @light;
}

#battery {
	background: @battery;
	color: @dark;
}

#battery.warning {
	color: @warning;
}

#battery.critical {
	color: @critical;
}

#tray {
	background: @date;
}

#clock {
	background: @date;
	color: @light;
}

#custom-arrow0 {
	color: @media_player;
	background: transparent;
}

#custom-arrow1 {
	color: @pulseaudio;
	background: @media_player;
}

#custom-arrow2 {
	color: @backlight;
	background: @pulseaudio;
}

#custom-arrow3 {
	color: @idle_inhibitor;
	background: @backlight;
}

#custom-arrow4 {
	color: @network;
	background: @idle_inhibitor;
}

#custom-arrow5 {
	color: @disk;
	background: @network;
}

#custom-arrow6 {
	color: @memory;
	background: @disk;
}

#custom-arrow7 {
	color: @cpu;
	background: @memory;
}

#custom-arrow8 {
	color: @updates;
	background: @cpu;
}

#custom-arrow9 {
	color: @battery;
	background: @updates;
}

#custom-arrow10 {
	color: @date;
	background: @battery;
}

#custom-arrow11 {
	color: @workspaces;
	background: @mode;
}

#custom-arrow12 {
	color: @mode;
	background: transparent;
}

#custom-arrow1v {
	color: @updates;
	background: transparent;
}

#custom-arrow2v {
	color: @date;
	background: transparent;
}
